body {
    background-color: #333;
    margin: 0px 0px 0px 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    list-style-position: inside;
}

a {
    text-decoration: underline;
    color: #24f;
}

#copyright {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

#title {
    color: white;
    border-spacing: 10px;
    vertical-align: top;
    text-align: center;
    width: 100%;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: #222 1px -0px 5px;
}

#title_links {
    margin-top: 40px;
    display:flex;
    justify-content:flex-start;
}

#title_links a, #title_links {
    margin-left: 0px;
    padding: 1em;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    text-decoration: none;
}
#title_links a {
    padding: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

#title_links a:hover {
    background: black;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}

section .container {
    background: white;
}

#content {
    padding: 1em;
}

#title {
    padding-top: 60px
}

#titlebar {
    height: 100%;
}

header {
    height: 220px;
}

header .container {
    background:  url('../img/lcb_com_header.jpg') no-repeat top;
    background-size: cover;
    margin-bottom: 1em;
}

section .container {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer .container {
    background-color: #aaa;
    margin-top: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
}

@media (min-width: 800px) {
    .round-top {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-width: 0;
    }
    .round-bottom {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-width: 0;
    }
}

.container {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.categorylabel {
    color: grey;
    font-size: 90%;
    padding-left: 20px;
}

.sectionblock img {
    vertical-align: middle;
    padding: 4px;
}

.sectionblock {
    border-bottom: 2px solid #ddd;
}

.sectionblock:last-child {
    border-bottom: none;
}
