<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Lee Baker is an engineer who enjoys hiking, paragliding and travelling." />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if canonical_url is defined -%}
	{#- if canonical_url is none, then we don't want a canonical URL. For example, 404 page -#}
	{%- if canonical_url is not none -%}
	<link href="{{canonical_url}}" rel="canonical">
	{%- endif -%}
	{%- endif %}
    <link rel="StyleSheet" type="text/css" href="{{ get_url(path='css/default.css', cachebust=true) }}" />
    <title>{% block title %}Lee Baker{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9422367-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-9422367-1');
    </script>

    <link rel="me" href="https://mastodon.social/@leecb">
    <link rel="me" href="https://techhub.social/@leecb">
    {% block extra_header %} {% endblock extra_header %}
</head>

<body>
    <div class="container">
        <header>
            <div id="titlebar">
                <div id="title">Lee C. Baker</div>

                <div id="title_links">
                    <a target="_blank" href="https://fb.me/leecb" rel="noreferrer" aria-label="Facebook page">{% include "svg/square-facebook.html" %}</i></a>
                    <a target="_blank" href="https://github.com/leecbaker/" rel="noreferrer" aria-label="Github page">{% include "svg/square-github.html" %}</a>
                    <a target="_blank" href="https://www.linkedin.com/in/leecbaker" rel="noreferrer" aria-label="LinkedIn page">{% include "svg/linkedin.html" %}</i></a>
                </div>
            </div>
        </header>

        <main>
                <div id="content">
                    {% block content %} {% endblock content %}
                </div>
        </main>

        <footer>
            <span id="copyright">&copy; 2011&ndash;{{now() | date(format="%Y")}} Lee C. Baker</span>
        </footer>
    </div>
</body>

</html>